<template>
    <div class="container-fluid">
        <OptionsSection/>
        <SimulationSection/>
    </div>
</template>

<script>

    import OptionsSection from './OptionsSection';
    import SimulationSection from './SimulationSection';

    export default {
        name: 'app',
        components: {
            OptionsSection,
            SimulationSection
        },
        data () {
            return {

            }
        },

    }
</script>

<style>
    .card {
        margin-top: 15px;
    }
</style>