<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Please input the number of deals that should be made or the number of decks that a game should go through
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="number-of-deals-input-label">Deals</span>
                        </div>
                        <input
                                v-model.number="numberOfDeals"
                                type="number"
                                class="form-control"
                                step="1"
                                min="0"
                                :disabled="disableDealsInput"
                                aria-label="Number of deals input"
                                aria-describedby="number-of-deals-input-label"
                                @change="disableInput"
                        >
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="number-of-decks-input-label">Decks</span>
                        </div>
                        <input
                                v-model.number="numberOfDecks"
                                type="number"
                                class="form-control"
                                step="1"
                                min="0"
                                :disabled="disableDecksInput"
                                aria-label="Number of decks input"
                                aria-describedby="number-of-decks-input-label"
                                @change="disableInput"
                        >
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Actions">
                        <button type="button" class="btn btn-warning" @click="resetInputs">Reset Inputs</button>
                        <button type="button" class="btn btn-success" @click="startSimulation">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    import { mapGetters } from 'vuex';

    export default {
        name: "OptionsSection",
        data () {
            return {
                numberOfDeals: 0,
                numberOfDecks: 0,
            }
        },
        computed: {
            ...mapGetters({
                disableDealsInput: 'getDealsInputState',
                disableDecksInput: 'getDecksInputState',
            }),
        },
        methods: {
            disableInput ()
            {
                const payload = {
                    numberOfDeals: this.numberOfDeals,
                    numberOfDecks: this.numberOfDecks
                };
                this.$store.dispatch('disableInput', payload);
            },
            resetInputs ()
            {
                this.numberOfDeals = 0;
                this.numberOfDecks = 0;
                this.disableInput();
            },
            startSimulation()
            {
                const payload = {
                    numberOfDeals: this.numberOfDeals,
                    numberOfDecks: this.numberOfDecks
                };
                this.$store.dispatch('startSimulation', payload);
            }
        }
    }
</script>

<style scoped>

</style>