<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SimulationSection"
    }
</script>

<style scoped>

</style>